In [1]:
import os
os.chdir('..')

In [2]:
import pandas as pd
import numpy as np
import geopandas as gpd

from src.construct import util

In [4]:
data_dir = "data/automatic/gas_storage.xlsx"
gas_storage_cap = pd.read_excel(data_dir, sheet_name="WGV by type TWh", skiprows=3, index_col=0)

In [5]:
all_sites = pd.read_excel(data_dir, sheet_name="Storage DB ", skiprows=1, index_col=0)

In [6]:
daily_energy_cap = (
    all_sites
    .loc[(all_sites.index == 'Serbia') | (all_sites["in EU28 SUM"] == "y"), ["Withdrawal\ntechnical\nGWh/day", "Injection\ntechnical\nGWh/day"]]
    .where(lambda x: x > 0)
    .mean(axis=1)
)
hourly_energy_cap = (daily_energy_cap / 24).groupby(level=0).sum()

In [17]:
gas_storage_data = pd.concat(
    [hourly_energy_cap * 1e3, # Scale GW to MW
     gas_storage_cap.reindex(hourly_energy_cap.index).Total * 1e6],  # scale TWh to MWh
    keys=['energy_cap_gas_storage_mw', 'storage_cap_gas_storage_mwh'],
    axis=1
)
gas_storage_data.index = gas_storage_data.index.map(util.get_alpha3).rename('country_code')

In [18]:
gas_storage_data

              energy_cap_gas_storage_mw  storage_cap_gas_storage_mwh
country_code
AUT                        39219.364583                 9.221850e+07
BEL                         5367.500000                 9.001300e+06
BGR                         5747.083333                 1.769000e+07
HRV                         2979.166667                 6.414900e+06
CZE                        24952.114238                 4.258269e+07
DNK                         6150.000000                 1.034700e+07
FRA                        85016.666667                 1.372124e+08
DEU                       236185.390083                 2.700312e+08
GRC                         2068.125000                 3.860500e+06
HUN                        27397.333333                 6.751390e+07
ITA                       127533.584671                 2.685400e+08
LVA                        10281.250000                 2.415000e+07
NLD                        85287.333333                 1.307839e+08
POL                        26944.082657                 4.651870e+07
PRT                         2628.333333                 3.570000e+06
ROU                        16151.729167                 4.613215e+07
SRB                         1783.229167                 1.007000e+07
SVK                        20281.791667                 3.919330e+07
ESP                         7100.000000                 3.197500e+07
SWE                          330.000000                 9.700000e+04
GBR                        91310.041667                 6.037700e+07

In [106]:
units = gpd.read_file('build/units.geojson')

/Users/brynmorp/miniconda3/envs/euro-spores/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning:`should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.

In [107]:
gas_data = pd.concat([gas_storage_cap.reindex(hourly_energy_cap.index).Total, hourly_energy_cap], axis=1, keys=['storage_cap', 'energy_cap'])

/Users/brynmorp/miniconda3/envs/euro-spores/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning:`should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.

In [124]:
gas_data.index = gas_data.index.map(util.get_alpha3).rename("country_code")
bar = units.set_index(["id", "country_code"])
foo = gas_data.reindex(bar.index, level="country_code")#.set_index(units.set_index(["id", "country_code"]).index)
foo.div(foo.count(level='country_code')).droplevel('country_code')

/Users/brynmorp/miniconda3/envs/euro-spores/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning:`should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.

       storage_cap  energy_cap
id
ALB_1          NaN         NaN
AUT_1     30.73950   13.073122
AUT_2     30.73950   13.073122
AUT_3     30.73950   13.073122
BEL_1      9.00130    5.367500
...            ...         ...
SVN_1          NaN         NaN
SWE_1      0.02425    0.082500
SWE_2      0.02425    0.082500
SWE_3      0.02425    0.082500
SWE_4      0.02425    0.082500

[98 rows x 2 columns]